
{% if page and page.meta and page.meta.nocomment %}
{% else %}
<script src="https://giscus.app/client.js"
        data-repo="lhxcs/note"
        data-repo-id="R_kgDOKOBm8A"
        data-category="General"
        data-category-id="DIC_kwDOKOBm8M4CZbqP"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
  <script>
    if (document.querySelector("body").getAttribute("data-md-color-scheme") === "slate") {
      var giscus = document.querySelector("script[src*=giscus]")
      giscus.setAttribute("data-theme", "https://gcore.jsdelivr.net/gh/TonyCrane/note/docs/css/giscus.css") 
    }
  </script>
{% endif %}